body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    background: #1A1A1A;
    color: #FF6B00;
}

.nav {
    background: #1A1A1A;
    padding: 14px 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 4px solid #FF6B00;
}

.nav img {
    height: 36px;
    margin-right: 12px;
}

.nav a {
    color: #FF6B00;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.nav a:hover {
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 24px auto;
    padding: 0 16px;
    background-color: #1A1A1A;
}

.container h1{
    color: white
}

.cards {
    display: flex;
    gap: 16px;
    margin: 20px 0;
}

.card {
    background: #fff;
    border: 2px solid #FF6B00;
    border-radius: 10px;
    padding: 20px 28px;
    text-align: center;
}

.card-num {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.card-label {
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

td a{
    color: black
}
td a:hover{
    color: #FF6B00
}
th, td {
    padding: 10px 12px;
    border-bottom: 1px solid #d4edda;
    text-align: left;
}

th {
    background: #FF6B00;
    color: #f3f3f3;
    font-weight: 700;
}

tr:hover td {
    background: #f0faf0;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background: #FF6B00;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 700;
}

.btn:hover {
    background: white;
    color: #FF6B00
}

.form-grupo {
    margin-bottom: 12px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
    color: white;
}

input, select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #009c3b;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background: #FF6B00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
}

button[type="submit"]:hover {
    background: white;
    color: #FF6B00
}

a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    font-weight: 600;
}

a:hover {
    color: #007a2f;
}

.vazio {
    color: #777;
    font-style: italic;
}

h1 {
    color: #009c3b;
    border-bottom: 3px solid #FF6B00;
    padding-bottom: 8px;
    display: inline-block;
}