{% extends "layout.html" %}
{% block title %}{% if produto %}Editar Produto{% else %}Novo Produto{% endif %}{% endblock %}

{% block content %}
<h1>{% if produto %}Editar Produto{% else %}Novo Produto{% endif %}</h1>

<form method="POST">


    <div class="form-grupo">
        <label>Nome</label>
        <input type="text" name="nome" value="{{ produto.nome if produto else '' }}" required>
    </div>


    <div class="form-grupo">
        <label>Categoria</label>
        <input type="text" name="categoria" value="{{produto.categoria if produto else ''}}" required>
    </div>


    <div class="form-grupo">
        <label>Preço de Venda</label>
        <input type="text" name="preco_venda" value="{{ produto.preco_venda if produto else '' }}" required>
    </div>



    <div class="form-grupo">
        <label>Preço de Locação</label>
        <input type="text" name="preco_locacao" value="{{ produto.preco_locacao if produto else '' }}" required>
    </div>


    <div class="form-grupo">
        <label>Utilidade</label>
        <input type="text" name="utilidade" value="{{ produto.utilidade if produto else '' }}" required>
    </div>


    <button type="submit">{% if produto %}Atualizar{% else %}Salvar{% endif %}</button>
</form>

<p><a href="{{ url_for('produto.index') }}">← Voltar</a></p>
{% endblock %}