{% extends "layout.html" %}
{% block title %}Produtos{% endblock %}

{% block content %}
<h1>Produtos - Bora Obra</h1>
<p><a class="btn" href="{{ url_for('produto.cadastrar') }}">+ Novo Produto</a></p>

{% if produtos%}
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço Venda</th>
            <th>Preço Locação</th>
            <th>Utilidade</th>
            <th>Comandos:</th>
        </tr>
    </thead>
    <tbody>
        {% for p in produtos %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>{{ p.categoria}}</td>
            <td>{{ p.preco_venda }}</td>
            <td>{{ p.preco_locacao }}</td>
            <td>{{ p.utilidade}}</td>
            <td>
                <a href="{{ url_for('produto.editar', id=p.id) }}">Editar</a>
                <a href="{{ url_for('produto.excluir', id=p.id) }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="vazio">Nenhum produto cadastrado.</p>
{% endif %}
{% endblock %}